.icon {
  opacity: 0.3;
}

.legendContainer {
  overflow-y: auto;
  display: flex;
  gap: 6px;
  justify-content: center;
  flex-wrap: wrap;

  li {
    text-align: left;
    list-style-type: none;
    margin-bottom: 0;
    cursor: default;
    display: flex;
    align-items: center;
    font-size: 9px;
    white-space: nowrap;

    span {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 2px;
      margin-right: 2px;
    }
  }
}

.lineChratLegendContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;

  li {
    text-align: left;
    list-style-type: none;
    margin-bottom: 0;
    cursor: default;
    display: flex;
    align-items: center;
    font-size: 9px;
    white-space: nowrap;

    span {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 8px;
      transition: opacity 0.3s ease;
    }
    p {
      transition: opacity 0.3s ease;
    }
  }
}

.barChartContainer {
  .gridLine {
    stroke: var(--stone-200);
  }
  .gridText {
    text-anchor: middle;
    font-size: 9px;
    fill: var(--stone-500);
  }
  .bar {
    transition: opacity 0.3s ease;
    cursor: default;
  }
  .barLabel {
    font-size: 9px;
    fill: var(--stone-500);
    text-anchor: end;
  }
  .verticalBarLabel {
    font-size: 9px;
    fill: var(--stone-500);
    text-anchor: middle;
  }
}

.barChartRankingContainer {
  display: flex;
  align-items: center;

  .barLabel {
    font-size: 9px;
    fill: var(--stone-500);
    text-anchor: end;
  }
  .gridLine {
    stroke: var(--stone-200);
  }
  .gridText {
    text-anchor: middle;
    font-size: 9px;
    fill: var(--stone-500);
  }

  .bar {
    transition: opacity 0.3s ease;
    cursor: default;
  }

  .paginationControls {
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    button {
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

.PieChartContainer {
  transition: opacity 0.3s ease;
  cursor: default;

  .slice {
    stroke-width: 1;
    stroke: white;
  }

  .labelLine {
    stroke: var(--stone-500);
    stroke-width: 1;
    fill: none;
  }

  text {
    font-size: 9px;
    fill: var(--stone-500);
  }
}

.lineChartContainer {
  display: flex;
  align-items: end;

  .navigationButtons {
    display: flex;
    flex-direction: column;
    margin: 16px 0 20px;

    button {
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  .svgContainer {
    .nav {
      cursor: default;
      transition: opacity 0.3s ease;

      .dashedLine {
        stroke: var(--stone-500);
        stroke-width: 2px;
        stroke-dasharray: 3px;
      }
      .solidLine {
        stroke: var(--stone-500);
        stroke-width: 2px;
      }
      text {
        text-anchor: end;
        font-size: 9px;
        fill: var(--stone-500);
      }
    }
  }

  .lineLabel {
    font-size: 9px;
    fill: var(--stone-500);
    text-anchor: end;
  }
  .gridLine {
    stroke: var(--stone-200);
  }
  .gridText {
    text-anchor: middle;
    font-size: 9px;
    fill: var(--stone-500);
  }

  .path {
    cursor: default;
    transition: opacity 0.3s ease;
    fill: none;
    stroke-width: 2px;
  }
  .pathDashed {
    cursor: default;
    transition: opacity 0.3s ease;
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3px;
  }
  .circle {
    cursor: default;
    transition: opacity 0.3s ease;
  }
  .strokeCircle {
    fill: var(--white);
    stroke-width: 2px;
    cursor: default;
    transition: opacity 0.3s ease;
  }
}

.chartSVGContainer {
  display: flex;
  gap: 12px;
}

.chartSVGContent {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  background-color: var(--white);

  .chartSVGTitle {
    padding: 12px;

    text-align: center;
    font-size: 9px;
  }

  .chartContainer {
    width: 100%;

    display: flex;
  }

  .chartSVGSection {
    flex: 1 1 0%;

    overflow: hidden;
  }

  .invisible {
    max-width: 40px;
    visibility: hidden;

    flex: 1 1 0%;
  }
}

.chartSVG {
  margin-bottom: 12px;

  .gridLine {
    stroke: var(--stone-200);
  }

  .lineLabel {
    font-size: 9px;
    fill: var(--stone-500);
    text-anchor: end;
  }

  .path {
    cursor: pointer;
    transition: opacity 0.3s ease;
    fill: none;
    stroke-width: 2px;
  }

  .circle {
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  .gridText {
    text-anchor: middle;
    font-size: 9px;
    fill: var(--stone-500);
  }
}

.lineChratLegendContainer {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 8px;
  align-items: center;

  li {
    text-align: left;
    list-style-type: none;
    margin-bottom: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 9px;
    white-space: nowrap;

    span {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 8px;
      transition: opacity 0.3s ease;
    }
    p {
      white-space: nowrap;
      transition: opacity 0.3s ease;
    }
  }
}
