.sidebar {
  position: absolute;
  background-color: var(--white);
  border: 1px solid var(--stone-200);
  left: -10px;
  top: -20px;
  height: 100vh;
  z-index: 1000;

  .button {
    margin: 12px;
    transition: trasform 0.8s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .isActive {
    margin: 12px;
    color: var(--green-700);
    transition: trasform 0.8s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .border {
    display: flex;
    border-top: 1px solid var(--stone-200);
    margin: 4px;
  }
}

@media (max-width: 960px) {
  .sidebar {
    display: none;
  }
}
