.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--stone-200);
}

.tableHeader {
  background-color: var(--stone-100);
}

.tableCell {
  border: 1px solid #e7e5e4;
  padding: 0.5rem;
}

.tableCellHeader {
  border-top: 1px solid #e7e5e4;
  border-left: 1px solid #e7e5e4;
  border-right: 1px solid #e7e5e4;
  padding: 0.5rem;
}

.filterCell {
  border-left: 1px solid #e7e5e4;
  border-right: 1px solid #e7e5e4;
  padding: 0.25rem;
}

.inputFilter {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-weight: normal;
}

.selectFilter {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-weight: normal;
}

.tableRow {
  text-align: center;
  border: 1px solid #e7e5e4;
}

.loadingOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  z-index: 1001;
}

.loaderCircle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 4px solid var(--green-700);
  border-top-color: var(--stone-300);
  animation: loader-circle 1s linear infinite;
}

@keyframes loader-circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
